<div class="page-header">
  <h1>Game <small>{{game.DisplayStyle}}</small></h1>
</div>

<div ng-repeat="alert in alerts" class="alert alert-danger" role="alert">
  {{alert.msg}}
</div>

<div ng-show="game.State.LastMsg" class="alert alert-warning" role="alert">
  <b>Message : </b>{{game.State.LastMsg}}
</div>


<div ng-show="game.State.Ongoing > 0 && game.State.Ongoing < 3" >
<h4>Darts</h4><hr>


<div ng-show="game.State.Ongoing == 2" class="alert alert-info" role="alert">
  <b>Last thrown : </b>{{game.State.LastSector | sector}}
</div>


<div>
  <button ng-show="debug" type="button" class="btn btn-success btn-sm" ng-click="sendDart(dart.Val,dart.Pos)">Throw</button>
  <span ng-show="debug">&nbsp;a&nbsp;</span>
  <select ng-show="debug" ng-model="dart.Pos" ng-options="p.pos as p.label disable when p.pos == 3 && dart.Val == 25 for p in pos"></select>
  <select ng-show="debug" ng-model="dart.Val" ng-options="v.val as v.label for v in vals"></select>
  <span ng-show="debug">&nbsp;or&nbsp;</span>
  <button type="button" class="btn btn-warning btn-sm" ng-click="sendDart(0,0)">Miss !</button>
</div>
  <br>
</div>

<h4>Players</h4><hr>
<ng-form ng-show="game.State.Ongoing < 2">
  New player : &nbsp;&nbsp; <input type="text" ng-model="newPlayer.name" placeholder="Name" ng-maxlength="50"/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-sm btn-success" ng-click="addPlayer()">OK</button>
  <br/><br/>
</ng-form>

<table ng-show="game.State.Players.length > 0" class="table">
  <thead>
  <tr>
    <th>#</th>
    <th>Current</th>
    <th>Name</th>
    <th>Pts</th>
    <th>Histo</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="p in game.State.Players" ng-class="{success: p.Rank == 1}">
    <td><span ng-show="p.Rank > 0">{{p.Rank}}</span></td>
    <td><span ng-repeat="i in getDarts($index) track by $index">*</span></td>
    <td><span ng-class="{current: game.State.CurrentPlayer == $index}">{{p.Name}}</span></td>
    <td>{{p.Score}}</td>
    <td><p ng-bind-html="p.Histo | histo"></p></td>
  </tr>
  </tbody>
</table>
